*{
    box-sizing: border-box;
    text-align: center;
}

ul{
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

.card{
    background-color: rgb(230, 230, 230);
    margin: 20px 300px;
    padding: 10px 10px;
}

.card>*{
    margin: 5px 10px;
}

img{
    display: block;
    margin: 0 auto;
}

h1{
    background-color: red;
    color: white;
}

ol {
  list-style-position: inside; /* Fa apparire il numero all'inizio della linea */
  text-align: center;          /* Centra l'intero contenuto della lista */
  padding-left: 0;             /* Rimuove lo spazio di default a sinistra */
  margin-left: 0;
}